# Environment files
.env
.env.*

# Node
node_modules/

# Logs
logs/
*.log

# Posts
data/posts.json

# Local configs
.zshrc

# SQLite DB files
postly.db
postly*.db*
*.db-shm
*.db-wal

# Uploads
uploads/
public/uploads/

# macOS metadata
.DS_Store

# Local dev artifacts
project_tree.txt
tree.js
import
typeof

# Old/legacy files if present
src/core/_old/
src/core/_old/*.js
